<tr>
    <td><%= user.identificacion %></td>
    <td><%= user.primer_nombre %></td>
    <td><%= user.segundo_nombre %></td>
    <td><%= user.primer_apellido %></td>
    <td><%= user.segundo_apellido %></td>
    <td><%= user.email %></td>
    <td><%= user.direccion %></td>
    <td><%= user.telefono %></td>
    <td><%= user.sexo %></td>
</tr>